.table-wrapper {
    border: 1px solid var(--color-border);
    box-shadow: 0 3px 10px rgba(0, 0, 0, .16);
    border-radius: var(--radius-border);
    position: relative;
}

.table {
    width: 100%;
    background-color: #fff;
    border-spacing: 0;
    min-width: max-content;
}

.table th {
    text-align: left;
    font-size: 13px;
    font-weight: 700;
    font-family: bMisa Font;
    padding: 11px 8px;
    white-space: nowrap;
}

.table td {
    padding: 12px 8px;
    font-size: 13px;
    white-space: nowrap;
}

.table td:last-child > * {
    opacity: 0;
    visibility: hidden;
}

.table tr.active {
    background-color: rgba(26, 164, 200, .2);
}

.table tr.active td:last-child > * {
    opacity: 1;
    visibility: visible;
}


.table td:nth-child(n+4):nth-child(-n+6) {
    white-space: unset;
}

.table tbody tr:not(:last-child) td, .table th {
    border-bottom: 1px solid var(--color-border);
}

.table td:first-child, 
.table th:first-child {
    padding-left: 16px;
}

.table__function {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
}

.table th:nth-child(n + 7):nth-child(-n + 10),
.table td:nth-child(n + 7):nth-child(-n + 10)
{
    text-align: right;
}

.table th:last-child,
.table td:last-child {
    text-align: center;
}

.table__function__button {
    border: none;
    background-color: transparent;
    outline: non;
}

.table__footer {
    position: sticky;
    bottom: 0;
    background-color: #fff;
}

.table__footer__td {
    position: relative;
}

.table__footer__left {
    position: absolute;
    display: flex;
    align-items: center;
    column-gap: 24px;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: max-content;
}

.table__footer__total {
    font-size: 11px;
}

.table__footer__conclusion {
    font-size: 13px;
    font-weight: 700;
    font-family: bMisa Font;
}

.table-wrapper {
    position: relative;
    max-height: 100%;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

.table thead {
    position: sticky;
    background-color: #fff;
    top: 0;
}

/* .table-wrapper::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border: 5px solid white;
  }
  
.table-wrapper::-webkit-scrollbar-thumb {
    background-color: #b0b0b0;
    background-clip: padding-box;
    border-radius: 8px;
} */
  
.table-wrapper::-webkit-scrollbar-button:single-button {
    background-color: #bbbbbb;
    display: block;
    border: none;
    height: 38px;
    width: 0;
    opacity: 0;
    background-color: transparent;
}

