.popup {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.293);
    align-items: center;
    justify-content: center;
    z-index: 100;
    display: none;
}

.popup.active {
    display: flex;
}